language: python
python:
  - "2.7"

before_install:
  - export PIP_USE_MIRRORS=true

install:
  - pip install -r requirements.txt

before_script:
  - python manage.py migrate --no-input

script:
  - python manage.py test
