<h1>Tareas</h1>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<a href="/add_todo/">Add Task</a>
<ul>
    {% for todo in object_list %}
        <li>
            {{ todo.description }}
            {% if todo.is_completed %}
                &#10003;
            {% else %}
                <form action="{% url 'complete_task' %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ todo.id }}">
                    <button>completar</button>
                </form>
            {% endif %}
        </li>
    {% endfor %}
</ul>
